:root {
    --bz-back-primary: #009889;
    --bz-back-secondary: #dbdad0;
    --bz-grey-light: #e9eaea;
    --bz-grey-dark: #b1b0b0;
    --bz-grey-darker: #687377;
    --bz-primary: #cdfbb3;
    --bz-info: #74dcfe;
    --bz-bg-chat: #f4efe8;
}

body {
    max-height: 100vh;
}

input[type="text"]:focus {
    box-shadow: none;
}

.bg-dual {
    background: linear-gradient(to bottom, var(--bz-back-primary) 10%, var(--bz-back-secondary) 10%) no-repeat;
}

.ms-bg-chat {
    background-color: var(--bz-bg-chat);
}

.ms-bg-grey-light {
    background-color: var(--bz-grey-light);
}

.ms-bg-info {
    background-color: var(--bz-info);
}

.ms-text-grey-dark {
    color: var(--bz-grey-dark);
}

.ms-text-grey-darker {
    color: var(--bz-grey-darker);
}

.ms-text-info {
    color: var(--bz-info);
}

.ms-text-sm {
    font-size: .8rem;
}

.ms-container {
    width: 100%;
    margin: auto;
}

.ms-row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ms-col {
    height: 96vh;
}

.ms-w-40 {
    width: 40% !important;
}

.ms-w-46 {
    width: 46% !important;
}

.ms-w-60 {
    width: 60% !important;
}

.activeChat {
    background-color: var(--bz-grey-light) !important;
}

#app {
    height: 96vh;
    width: 90%;
    max-width: 1320px;
    min-width: 768px;
    margin: 2vh auto;
}

#left-header,
#right-header {
    height: 80px;
}

#right-footer {
    height: 80px;
}

#left-main {
    height: calc(96vh - 80px - 80px - 52px);
    max-height: calc(96vh - 80px - 52px);
}

#right-main {
    height: calc((96vh - 80px - 80px));
    overflow-y: scroll;
    background-image: url('./../img/mine.jpg');
}

.user {
    width: 70%;
}

.user-controls {
    width: 30%;
}

.user-controls i {
    font-size: 1.2rem;
    cursor: pointer;
}

.notifications-check {
    height: 80px;
}

.chat-list {
    max-height: 100%;
    overflow-y: scroll;
}

.message.float-start {
    background-color: white;
}

.message.float-end {
    background-color: var(--bz-primary);
}

.hour,
.message-menu {
    position: absolute;
    right: 0;
    margin: .25rem .35rem;
}

.hour {
    bottom: 0;
}

.message-menu {
    top: 0;
}

.message-menu li span:hover {
    background-color: transparent;
}